<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :address, '收货地址', style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :phone, '电话号码', style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :post, '邮政编码', style: "display: block" %>
    <%= form.text_field :post %>
  </div>

  <div>
    <%= form.submit '保存' %>
  </div>
<% end %>
