<p style="color: green"><%= notice %></p>

<h1>商品列表</h1>
<div style="text-align: center">
<strong>分类选择: </strong> | <%= link_to '全部商品', products_path %> | 
<% Category.all.each do |category| %>
  <%= link_to category.name, products_path(:category_id => category.name) %> | 
<%end%>
</div>
<br/><br/>

<div id="products" style="text-align: center">
<div id="cardBox">
<div id="bodyBox", style="text-align: center">
  <table style="border-spacing: 30px">
    <tr>
      <td> 图片 </td>
      <td> 产品描述 </td>
      <td> 颜色 </td>
      <td> 尺寸 </td>
      <td> 单价 </td>
      <td> 销量 </td>
      <td> 操作 </td>
      
    </tr>
    
    <% @products.each do |product| %>
      <tr>

        <td width="110px">
          <%= image_tag(product.image_url, height: "150", weight: "150")%>
        </td>        

        <td class="list-description" width="300px">
          <dl>
            <h2><%= product.name %></h2>
            <dt><%= truncate(product.description.gsub(/<.*?>/,''), :length => 30) %></dt>
          </dl>
        </td>

        <td width="100px">
          <%= product.color.name%> 
        </td>

        <td width="100px">
          <%= product.size.name%> 
        </td>

        <td width="100px">
          <%= sprintf("￥%0.02f", product.price) %> 
        </td>

        <td width="150px">
          共售出 <%= product.sales ? product.sales : 0 %> 件
        </td>

        <td class="list-actions" width="150px">
          <% if current_user && current_user.admin? %>
            <%= link_to "编辑", edit_product_path(product) %> 
          <br/>
          <% end %>

          <%= link_to "查看", product %>
          <br/><br/>

          <% if current_user && current_user.admin? %>
            <%= button_to "删除", product, method: :delete %>
            <br/>
          <% end %>

          <% if current_user && !current_user.admin?%>
            <%= button_to "收藏", collects_path(:product_id => product)%>
            <br/>
          <%end%> 

          <% if current_user && !current_user.admin?%>
            <%= button_to "加入购物车", cart_items_path(:product_id => product)%>
            <br/>
          <%end%>         

        </td>
        
      </tr>
    <% end %>
  </table>
</div></div>
</div>

<br/>
<% if current_user && current_user.admin? %>
  <%= link_to "添加商品", new_product_path %>
<% end %>
